# Git
.git
.gitignore
.gitattributes

# CI
.travis.yml
.gitlab-ci.yml
.github

# Docker
.dockerignore
docker-compose.yml
docker-compose.*.yml
Dockerfile
docker

# Byte-compiled / optimized / DLL files
__pycache__/
.mypy_cache/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs

# PyBuilder
target/


# Virtual environment
.env/
.venv/
venv/
.envs/

# Code Editor
.idea
.vscode

# Other
Makefile
.env.example
.editorconfig
.pre-commit-config.yaml
